common: &common
  adapter: mysql2
  encoding: utf8
  pool: 5
  username: ethan
  password: '123456'
  socket: /tmp/mysql.sock


development:
  <<: *common
  database: ethan_development

test:
  <<: *common
  database: ethan_test

production:
  <<: *common
  database: ether
  host: db1.aaaaahhhhh.dotcloud.com
  port: 1758
